* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
    padding-left: 5px;
    
}



.logo{
    height: 50px;
    width: 100px;
    background-image: url(amazon-logo-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
    

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 0.7px solid white;
}

/** Box-2 **/

.add-first {
    color: #CCCCCC;
    font-size: 0.8rem;
}

.add-sec {
    font-size: 1rem;
}

.add-icons {
    display: flex;
}

.nav-address {
    margin-left: 15px;
}

/** Box-3 **/

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(249, 178, 23);
    width: 630px;
    height: 35px;
    border-radius: 5px;
}

.nav-search:hover{
    border: 2px solid rgb(255, 187, 0);
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1111;
    font-size: 1.4rem;
}

/** Box-4 **/



/** Box-5 **/

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 750;
}

/** Box-6 **/

.nav-cart i {
    font-size: 30px;
}

.nav-cart{ 
    font-weight: 700;
    font-size: 0.9rem;
}

/** Panel Section **/

.panel{
    background-color: #232F3E;
    color: #000000;
    height: 39px;
    display: flex;
    color: #f3f3f3;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
}

.panel-all a{
    border: none;
    text-decoration: none;
    color: #f3f3f3;
}

.panel-ops a {
    display: inline;
    font-size: 14px;
    margin-left: 12px;
    margin-right: 12px;
    color: white;
    text-decoration: none;
}

/** Hero Section **/

.hero-section{
    background-image: url(banner4.jpg);
    height: 600px;
    background-size: cover;
    position: relative;
}

.hero-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.hero-btn i {
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 4px;
}

.hero-btn i:hover {
    background-color: rgba(0,0,0,0.4);
}

/** Shopping box **/

.shop-top-box-hero-section {
    background-color: #f1f0ea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.box-inside-text{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/** Outer-Box **/

.box{
    margin-top: 20px;
    height: 365px;
    width: 312px;
    background-color: #ffffff;
}

/** Inner-Box **/



/** First inside box section **/

.inside-box1 {
    background-image: url(Home_decor.jpg);
    margin-right: 3px;
}

.inside-box2 {
    background-image: url(Home_furnishings.jpg);
}

.inside-box3 {
    background-image: url(Home_lighting.jpg);
}

.inside-box4 {
    background-image: url(Home_storage.jpg);
}

.inside-box6 {
    background-image: url(Laptops.jpg);
}

.inside-box7 {
    background-image: url(KitchenAppliances.jpg);
}

.inside-box8 {
    background-image: url(OfficeChairs.jpg);
}

.inside-box9 {
    background-image: url(ABdelivery.jpg);
}

.inside-box10 {
    background-image: url(Appliances.jpg);
}

.inside-box11 {
    background-image: url(Appliances2.jpg);
}

.inside-box12 {
    background-image: url(Appliances3.jpg);
}

.inside-box13 {
    background-image: url(Appliances4.jpg);
}

.inside-box14 {
    background-image: url(Shower_heads.jpg);
}

.inside-box15 {
    background-image: url(Tools_low.jpg);
}

.inside-box16 {
    background-image: url(Wipes_low_res.jpg);
}

.inside-box17 {
    background-image: url(Wallpapers.jpg);
}

.inside-box18 {
    background-image: url(soap1.jpg);
}

.inside-box19 {
    background-image: url(soap2.jpg);
}

.inside-box20 {
    background-image: url(soap3.jpg);
}

.inside-box21 {
    background-image: url(soap4.jpg);
}

.inside-box27 {
    background-image: url(Boat.jpg);
}

.inside-box28 {
    background-image: url(Boult.jpg);
}

.inside-box29 {
    background-image: url(Noise.jpg);
}

.inside-box30 {
    background-image: url(Zeb.jpg);
}

/* Box Links */
.box-links a{
    text-decoration: none;
    margin-left: 10px;
    color: #2162a1;
    margin-top: 10px;
}

.box-grid-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 12px;
}

.small-image {
    width: 100%;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.small-image:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.middle-part-section {
    height: 300px;
    width: 95%;
    background-color: #ffffff;
    margin-top: 20px;
}

.middle-part-section .box-inside-text{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

.inside-text {
    display: flex;
}

.inside-text a {
    margin-top: 28px;
    margin-left: 20px;
    text-decoration: none;
    color: #2162a1;
}


.items {
    display: flex;
    justify-content: space-evenly;
}

.item img{
    margin-top: 20px;
}

.item img:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.below-middle-part-section {
    height: 300px;
    width: 95%;
    background-color: #ffffff;
    margin-top: 20px;
}

.below-middle-part-section .box-inside-text{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

.below-middle-part-section img {
    height: 168px;
    width: 270px;
}


.box-grid-image-last {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 12px;
}


.big-image-card {
    height: 65%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-image: url(PC.jpg);
    background-size: contain;
}

.box7 .big-image-card {
    background-position: center;
    background-image: url(Jacket.jpg);
    background-repeat: no-repeat;
}

.big-image-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.box9 .box-main-image {
    background-image: url(Mattress.jpg);
    height: 40%;
    width: 50%;
    margin-top: 5px;
    margin-left: 25%;
    background-size: contain;
}

.box-main-image:hover{
    transform: scale(1.04);
    cursor: pointer;
}

.text-of-image{
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 10px;
}

.box9 a{
    text-align: justify;
    font-size: small;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #000000;
}

.big-price{
    height: 31px;
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
}

.big-price p{
    font-size: 21px;
}

.small-price {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 13px;
}

.small-price span{
    font-size: 13px;
    text-decoration: line-through;
}

.box-two{
    margin-top: 20px;
    height: 426px;
    width: 312px;
    background-color: #ffffff;
}

.small-boxes {
    height: 78px;
    display: flex;
    justify-content: space-evenly;  
}

.inside-small-box {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.inside-small-box:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.box10 .box-main-image {
    background-image: url(Lamp1.jpg);
    height: 40%;
    width: 50%;
    margin-top: 5px;
    margin-left: 25%;
    background-size: contain;
}

.box10 a{
    text-align: justify;
    font-size: small;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #000000;
}

.box11 .box-main-image {
    background-image: url(Mobile1.jpg);
    height: 40%;
    width: 50%;
    margin-top: 5px;
    margin-left: 25%;
    background-size: contain;
    background-repeat: no-repeat;
}

.box11 a{
    text-align: justify;
    font-size: small;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #000000;
}

.box11 .big-price{
    height: 31px;
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.box12 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-box {
    margin-top: 20px;
    height: 282px;
    width: 312px;
    background-color: #ffffff;

}


.laptop-img-text {
    margin-top: 10px;
}

.img-laptop-case {
    background-color: #2162a1;
    height: 180px;
    width: 180px;
    margin-top: 5px;
}

.img-laptop-case img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.discount {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.discount p {
    background-color: #90ef67;
    margin-right: 10px;
}

.discounted-price {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.discounted-price p{
    font-size: large;
}

.discounted-price img {
    height: 13px;
    width: 40px;
    margin-top: 5px;
    margin-left: 6px;
}

.img-laptop-case img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Bottom Signin Panel */

.bottom-signin-panel {
    background-color: #f1f0ea;
    height: 250px;
    width: 100%;
    margin-top: 60px;

}

.bottom-signin-panel hr{
    width: 80%;
    margin-left: 10%;
}

.text-inside-signin-panel {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.text-inside-signin-panel p{
    font-size: 24px;
    font-weight: 500;
}

.button-for-signin-panel {
    margin-top: 15px;
    text-align: center;
}

.button-for-signin-panel button {
    width: 60%;
    height: 40px;

    background-color: #f0c14b;
    border: 1px solid #a88734;
    border-radius: 20px;

    font-size: 14px;
    color: #111;

    cursor: pointer;
    outline: none;

    animation: colorchange 1s ease-in 0s;
}

.button-for-signin-panel button:hover {
    background-color: #efcc71;
}

.new-customer {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-size: small;
}

/* End Panel */

.end-panel{
    height: 500px;
    background-color: #0f1111;
}

.back-to-top {
    color: #f3f3f3;
    height: 49px;
    background-color: #232F3E;
}

.back-to-top p{
    padding-top: 15px;
    text-align: center;
    height: 40px;
    font-size: small;
}


.end-panel-centre-panel {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 240px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

.end-panel-centre-panel p {
    margin-top: 10px;
    font-size: small;
}

.end-panel-centre-panel p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.end-panel-last-panel{
    background-color: #0f1111;
    height: 90px;
}

.last-panel-items {
    margin-top: 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.end-panel-last-panel img{
    height: 25px;
    width: 75px;
}

.language-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 131px;
    border: 0.6px solid rgb(255, 255, 255);
    background-color: #0f1111;
    height: 30px;
    width: 100px;
}


#languages {
    background-color: transparent;
    color: #fff;
    border: none;
}

.region {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border: 0.6px solid rgb(255, 255, 255);
    height: 30px;
    width: 80px;
}


.region img {
    height: 12px;
    width: 18px;
    margin-right: 7px;
}

/* Footer */

.footer-div {
    background-color: #232F3E;
    color: #f3f3f3;
    display: grid;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: small;
    margin-right: 5px;
}

footer a:hover {
    text-decoration: underline;
}

footer span {
    font-size: small;
}

